[submodule "src/3rdparty/kfr"]
	path = src/3rdparty/kfr
	url = https://github.com/shine5402/kfr.git
[submodule "src/3rdparty/dr_libs"]
	path = src/3rdparty/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "src/3rdparty/flac"]
	path = src/3rdparty/flac
	url = https://github.com/xiph/flac.git
